body {
  margin: 0;
  font-family: var(--font-family-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 120px;
  /* Space for fixed bottom nav */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-title);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}